<h1>게시판</h1>
<p>글을 써주세요</p>
<form action="/posts/create">
  제목 : <input type="text" name="title" /><br />
  내용 : <textarea name="body"></textarea><br />
  <input type="hidden" name="id" value="안녕?" />
  <input type="submit" value="뿅!" />
</form>
